* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 10px;
}

#icon-pan {
    width: 70px;
    height: 70px;
}

.header-svg {
    position: relative;
    top: 3px;
    height: 22px;
    width: 22px;
}

.item-span-header-1 {
    font-family: arial, Arial, Helvetica, sans-serif;
    font-size: 1.20em;
    cursor: pointer;
}

.latter {
    color: darkgray;
}

.red-header {
    color: #d00303;
}

#search {
    width: 140px;
    padding: 10px;
}

.lupa {
    position: relative;
    top: 8px;
    width: 25px;
    height: 25px;
}