* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#icon-pan {
    width: 70px;
    height: 70px;
}

.header-svg {
    position: relative;
    top: 3px;
    height: 22px;
    width: 22px;
}

.item-span-header-1 {
    font-family: arial, Arial, Helvetica, sans-serif;
    font-size: 1.20em;
    cursor: pointer;
}

.latter {
    color: darkgray;
}

.red-header {
    color: #d00303;
}

#search {
    width: 140px;
    padding: 10px;
}

.lupa {
    position: relative;
    top: 8px;
    width: 25px;
    height: 25px;
}

#menu-2 {
    background-color: black;
    padding: 1em;
}

#pan-news {
    width: 92px;
    height: 18px;
    object-fit: cover;
}

#menu-list-2 {
    display: flex;
    color: white;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

.item-span-menu-2 {
    position: relative;
    height: 100%;
    padding: 15px 0px;
}

.item-span-menu-2:hover {
    border-bottom: 3px solid red;
}

#politica {
    margin: 10px;
    position: absolute;
    top: 137px;
    right: 800px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: darkgray;
    padding: 30px;
    z-index: 1;
    box-shadow: 0px 1px 1px black;
}

#politica {
    display: none;
}

.title-header-2 {
    font-size: 1.10em;
    position: relative;
    bottom: 15px;
}

#brasil {
    margin: 10px;
    position: absolute;
    top: 137px;
    right: 800px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: darkgray;
    padding: 30px;
    z-index: 1;
    box-shadow: 0px 1px 1px black;
}

#brasil {
    display: none;
}

.list-none-2-brasil {
    list-style: none;
}

.item-none-2-brasil {
    margin-top: 10px;
}

#economia {
    margin: 10px;
    position: absolute;
    top: 137px;
    right: 750px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: darkgray;
    padding: 30px;
    z-index: 1;
    box-shadow: 0px 1px 1px black;
}

#economia {
    display: none;
}

.item-none-2-economia {
    margin-top: 10px;
}

#esporte {
    margin: 10px;
    position: absolute;
    top: 137px;
    right: 650px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: darkgray;
    padding: 30px;
    z-index: 1;
    box-shadow: 0px 1px 1px black;
}

#esporte {
    display: none; 
}

#entretenimento {
    margin: 10px;
    position: absolute;
    top: 137px;
    right: 570px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: darkgray;
    padding: 30px;
    z-index: 1;
    box-shadow: 0px 1px 1px black;
}

#entretenimento {
    display: none;
}

#colunistas {
    margin: 10px;
    position: absolute;
    top: 137px;
    right: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: darkgray;
    padding: 30px;
    z-index: 1;
    box-shadow: 0px 1px 1px black;
}

#colunistas {
    display: none;
}


.list-none-2-colunistas {
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: arial;
}

.list-sub-2 {
    list-style: none;
}

.item-sub-2 {
    margin-top: 10px;
}

#programas {
    margin: 10px;
    position: absolute;
    top: 137px;
    right: 650px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: darkgray;
    padding: 30px;
    z-index: 1;
    box-shadow: 0px 1px 1px black;
}

#bem-estar {
    margin: 10px;
    position: absolute;
    top: 137px;
    right: 650px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: darkgray;
    padding: 30px;
    z-index: 1;
    box-shadow: 0px 1px 1px black;
}

#podcast {
    margin: 10px;
    position: absolute;
    top: 137px;
    right: 650px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: darkgray;
    padding: 30px;
    z-index: 1;
    box-shadow: 0px 1px 1px black;
}

#especiais {
    margin: 10px;
    position: absolute;
    top: 137px;
    right: 650px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: darkgray;
    padding: 30px;
    z-index: 1;
    box-shadow: 0px 1px 1px black;
}